html,
body {
    margin: 0;
    padding: 0;
    outline: 0;
    display: block;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    background-color: #f5f5f5;
    color: #616161;
}

.header-background {
    position: relative;
    display: block;
    width: 100%;
    height: 310px;
    background: url(../images/backgrounds/background.jpg) no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}

.row {
    margin-right: -15px;
    margin-left: -15px;
}

#v-card-holder {
    overflow: visible;
    width: 100%;
    height: auto;
    margin-top: -194px;
}

#v-card-holder #v-card {
    position: relative;
    width: 100%;
    height: 400px;
    overflow: hidden;
    z-index: 1;
    background: #06A763;
    margin: -33px 3px 0 0;
}

#v-card-holder #v-card #profile {
    position: absolute;
    right: 0;
    z-index: 1;
}

#v-card-holder #v-card .info-headings {
    max-width: 514px;
}

#v-card-holder #v-card .info-headings h4 {
    display: block;
    width: 100%;
    font-weight: 900;
    color: #fff;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.29);
}

#v-card-holder #v-card .info-headings h6 {
    display: block;
    width: 100%;
    font-weight: 300;
    margin-top: -10px;
    margin-bottom: 30px;
    font-size: 1.2em;
    color: #fff;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.29);
}

#v-card-holder #v-card #profile img {
    width: 401px;
    height: auto;
}

#v-card-holder #v-card .infos .profile-list .content {
    display: block;
    margin-left: 30px;
    font-size: 15px;
    font-weight: 400;
    line-height: 20px;
    color: #fff;
}

#v-card-holder #v-card .links .social {
    margin-left: 12px;
    margin-bottom: 4px;
}

#v-card-holder #v-card #profile .slant {
    top: 0;
    z-index: 1;
    position: absolute;
    border-style: solid;
    border-width: 400px 0 0 100px;
    border-color: rgba(223, 50, 50, 0) transparent transparent #06A763;
}

#v-card-holder #v-card .infos .profile-list .title {
    display: block;
    float: left;
    color: #fff;
    line-height: 29px;
}

.right {
    float: right!important;
}

.card .card-content {
    padding: 40px;
    border-radius: 0 0 2px 2px;
}

.card .card-content p {
    margin: 0;
    color: inherit;
    text-align: center;
}

@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}

@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}

@media (min-width: 1200px) {
    .container {
        width: 1000px;
    }
}

h1,
h2,
h3,
h4,
h5,
h6,
span {
    font-family: 'Raleway', sans-serif;
}

p,
a,
li,
label,
input,
blockquote,
cite,
div {
    font-family: 'Muli', sans-serif;
}

.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.section {
    position: relative;
    padding-top: 15px;
    padding-bottom: 30px;
}

.card .card-action {
    border-top: 1px solid rgba(160, 160, 160, .2);
    padding: 20px;
}

.btn {
    padding-top: 8px;
}

#about .about-btn {
    height: auto;
    margin-right: auto;
    margin-left: auto;
    animation-delay: 1s;
    text-align: center;
}

#about .about-btn .btn {
    margin: 7px 7px;
    background: #06A763;
    color: #fff;
    width: 167px;
    border-radius: 2px;
    font-size: 14px;
}

.btn {
    padding-top: 8px;
}

.home-icone {
    font-size: 20px;
    color: white;
}

h4 {
    font-size: 2.18rem;
    line-height: 110%;
    margin: 1.14rem 0 0.912rem 0;
}

.profile-list {
    margin-bottom: 15px
}

@media screen and (max-width: 990px) {
    #v-card-holder #v-card .info-headings {
        max-width: 270px;
    }
}

@media screen and (max-width: 767px) {
    #v-card-holder #v-card {
        position: relative;
        width: 100%;
        overflow: visible;
        z-index: 1;
        top: 34px;
    }
    #v-card-holder #v-card .card-content {
        padding: 10px;
    }
    #v-card-holder #v-card #profile {
        position: absolute;
        bottom: 85%;
        left: 0;
        width: 150px;
        height: auto;
        margin-right: auto;
        margin-left: auto;
        z-index: 1;
        background-color: transparent;
    }
    #v-card-holder #v-card #profile img {
        width: 150px;
        height: 150px;
        border-radius: 50%;
        box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    }
    #v-card-holder #v-card #profile .slant {
        display: none;
        opacity: 0;
        overflow: hidden;
    }
    #v-card-holder #v-card .infos {
        display: table;
        margin: 0 auto;
        max-width: 100%;
        padding: 0;
    }
    #v-card-holder #v-card .info-headings {
        max-width: 100%;
        text-align: center;
        margin-top: 38px;
    }
    #v-card-holder #v-card .info-headings h6 {
        margin-bottom: 20px;
    }
    #v-card-holder #v-card .links {
        display: table;
        max-width: 100%;
        padding: 0;
        margin: 0 auto 9px;
    }
}

a {
    cursor: pointer;
}

#about-card .card-content img {
    height: 100px;
    padding: 10px;
}